<a href="https://colab.research.google.com/github/fundamentals-of-data-science/course-materials/blob/master/problem_sets/Problem_Set_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline

# Problem Set 1

## Directions

1. Show all work/steps/calculations using a combination of code and Markdown. You will submit only this notebook named: [jhed_id].ipynb back to Blackboard from whence you downloaded it.
2. **All** work is to be your own. This is not a group project. You may, however, use code from the lectures and labs. Provide citations for any code that is not your own. You may also consult Stackoverflow, etc. This is not by any means "closed book" or anything like that. Basically, I need to see if *you* learned the concepts from the Lectures, *Fundamentals*, and Labs.
3. Add whatever markdown or code cells you need in each part to explain and calculate your answers. Don't just provide answers but explain them as well. **Explain and interpret your results.**

**Do not delete or otherwise change the formatting, order, text of the questions**

## Question 1 - Bayes Rule

**Part 1**

$$P(H|D) = \frac{P(D|H)P(H)}{P(D)}$$

If we let H be some condition, characteristic, hypothesis and D be some data, evidence, a test result), then how do we interpret each of the following in Bayes Rule: $P(H)$, $P(D)$, $P(H|D)$, $P(D|H)$, $P(H, D)$?

*answer here - you can add more cells*

**Part 2.** 

There is a genetic condition that affects 2.3% of the population, C = {c, ~c}. If someone has the condition, the test (T) can detect that fact accurately 72.1% of the time (true positive rate). However, the test (T) also returns a positive response in 20.3% of the cases where the someone does not have the condition (false positive rate), T={pos, neg}.

**DO NOT CHANGE THE NOTATION**

1. If we want to know `P(C|T)`, write out Bayes Rule for this problem:

$? = \frac{? * ?}{?}$

2. Using the values supplied in the description of the problem, specify all priors and likelihoods for the version of Bayes Rule you just wrote out. Calculating the missing values.

*answer here - you can add more cells*

3. Calculate `P(C|T)`.

*answer here - you can add more cells*

4. Please explain each individual probability in words and the difference between the prior and the posterior and the reason for the difference.

*answer here - you can add more cells*

**Part 3.** 

Re-calculate #2-4 (including discussion) but assume a new test has a true positive rate is 97.3% but the false positive rate is 37.2%.

*answer here - you can add more cells*

## Question 2 - 1994 Adult Census Data - Empirical Probability

For this question, you will answer queries in conditional probability as was done with the Titanic Data.
Because we have not had Exploratory Data Analysis yet, we will not ask you to explore the data "in general".
Instead, for each calculation, you should examine the variables involved individually, looking to see if they have missing values, what their values look like (most of the data is categorical), and to see if any transformations are in order.

You may use code from the Titanic Case Study as you see fit. Add any other imports you need.

To reiterate, for each calculation:

1. Look at the values and counts/percentages for each variable (unless it's been done before). That is, look at the marginal probabilities.
2. Before each calculation, write down a hypothesis about what you expect to see. For example, if you are about to calculate a conditional probability distribution, what do you expect the distribution to look like?
3. Make the calculation.
4. Discuss what the results show, relative to your hypothesis.

In [1]:
import pandas as pd
from pandasql import sqldf
import seaborn as sns
import matplotlib.pyplot as plt

Load the data:

In [28]:
income = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', 
                     header=None, 
                     error_bad_lines=False)

The data doesn't come with any headers or other information:

In [29]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  int64
 1   1       32561 non-null  object
 2   2       32561 non-null  int64
 3   3       32561 non-null  object
 4   4       32561 non-null  int64
 5   5       32561 non-null  object
 6   6       32561 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  int64
 11  11      32561 non-null  int64
 12  12      32561 non-null  int64
 13  13      32561 non-null  object
 14  14      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

Looking at the first rows, we can get a general idea of the data:

In [30]:
income.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Let's add some column headers:

In [31]:
columns = ["age", "class", "fnlwght", "education", "education_years", "marital_status", "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss", "hours_per_week", "native_country", "agi"]

In [32]:
income.columns = columns

In [35]:
income.head()

,age,class,fnlwght,education,education_years,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,agi
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Conditional Probabilities

You *will* need more cells for your answer. Add them as you need them. There are already the 3 default cells there for you. You will need more.

1. $P(agi|age)$

discuss

In [36]:
# code

discuss

2. $P(agi|occupation)$

3. $P(agi|sex)$

4. $P(agi|sex, occupation)$

5. $P(occupation|race)$

## Naive Bayes Classifier

Build a Naive Bayes Classifier $P(agi|age, sex, race, occupation, education_years)$. Make 5 predictions with it, after first making a hypothesis about the prediction. Import what you need.

*answer here - you can add more cells*

<div style="background: tomato; margin:20px; padding: 20px;">
    <strong>Warning</strong>
    <p>Did you answer all the questions? Did you answer all parts of the questions? Did you follow the discuss/code/discuss pattern?</p>
</div>